// Font family

$main-font: 'Poppins', sans-serif;

// Colors

$white-color: #fff;
$black-color: #000;
$text-color: #fafafa;
$text-gray-color:#7F7F7F;
$input-bg-color: #f5f5f5;
$red-color: #db4444;
$gray-color:#f5f5f5;